@import "../../style.scss";

.bgContainer {
  @include themify($themes) {

    .mainChat {
        border-radius: 20px;
        background-color: themed("bg");
        color: rgb(158, 103, 103);
        height: 70vh;
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;

        .inputBox {
            display: flex;
            align-self: flex-end;
            justify-content: center;
            width: 90%;

            input{
                display: flex;
                align-items: center;
                width: 90%;
                border: none;
                outline: none;
                padding: 20px 10px;
                margin-bottom: 10px;
                background-color: themed("bgSoft");
                color: themed("textColor");
                font-size: 16px;
            }
        }
    }
  }
}